
:root {
     /* primary */
     --slightly-desaturated-cyan: #5FB4A2;
     --dark-blue: #203A4C;
     --grayish-dark-blue: #33323D;
     /* secondary */
     --very-light-grey: #FAFAFA;
     --light-grey: #EAEAEB;
     --bright-red: #F43030;
     /* font-weight */
     --regular: 400;
     --semi-bold: 600;
     --bold: 700;
}

 /* Set text selection color & background */

::-moz-selection {
     color: #fff;
     background-color: #4f94cc;
}
::selection {
     color: #fff;
     background-color: #4f94cc;
}

/* Typography */

body {
     font-family: 'Public Sans', sans-serif;
     font-size: 1.6rem;
     background-color: var(--very-light-grey);
     scroll-behavior: smooth;
}

/* titles */

h1,
h2 {
     font-family: 'Ibarra Real Nova', 'sans-serif';
     font-weight: var(--bold);
     line-height: 42px;
     color: var(--grayish-dark-blue);
}
h1 {
     font-size: 5rem;
     letter-spacing: -0.45px;
}
h2 {
     font-size: 4rem;
     letter-spacing: -0.36px;
}
h3 {
     font-family: 'Ibarra Real Nova', 'sans-serif';
     font-size: 3.2rem;
     font-weight: var(--regular);
     line-height: 36px;
     letter-spacing: -0.29px;
     color: var(--grayish-dark-blue);
}

/* paragraphs */

p {
     font-family: 'Public Sans', 'sans-serif';
     font-size: 1.6rem;
     font-weight: var(--regular);
     line-height: 30px;
     color: var(--grayish-dark-blue);
     opacity: 0.8;
}

/* Layout containers */

/* mobile */
.container {
     width: 100%;
     margin-left: auto !important;
     margin-right: auto !important;
     padding-left: 3.2rem;
     padding-right: 3.2rem;
}
/* tablet */
@media screen and (min-width: 48em) {
     .container {
          max-width: 111rem;
          padding-left: 4rem;
          padding-right: 4rem;
     }
}
/* desktop */
@media screen and (min-width: 90em) {
     .container {
          max-width: 111rem; 
          padding-left: 0;
          padding-right: 0;
     }
}

/** Components **/

/* buttons styles */

.btn {
     font-family: 'Public Sans', sans-serif ;
     font-size: 1.2rem;
     letter-spacing: 0.2rem;
     text-transform: uppercase;
     display: inline-block;
     text-decoration: none;
     cursor: pointer;
}

/* btn primary */

.btn-primary {
     display: flex;
     align-items: center;
     width: 20rem;
     height: 4.8rem;
     background: var(--dark-blue);
     color: #FFFF;
}

/* btn designs & effects */


.btn-primary:hover .about-btn-icon {
     background: #6ba899;
     transition: 0.3s;
}
.btn-primary:hover .about-btn-icon svg .a {
     stroke: white;
}
.btn-primary:hover .about-btn-icon svg .b {
     stroke: white;
}
.btn-primary:hover .about-btn-icon svg .c {
     stroke: white;
}
.btn-primary:hover .about-btn-text {
     background: var(--slightly-desaturated-cyan);
     transition: 0.3s;
}
.about-btn-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 4.8rem;
     height: 4.8rem;
     background: #162a38;
}
.about-btn-text {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 15.2rem;
     height: 4.8rem;
     background-color: var(--dark-blue);
     color: white;
}

/* button primary disabled */

.btn-primary:disabled .about-btn-icon {
     background-color: #e4e8ec;
}
.btn-primary:disabled .about-btn-icon svg .a {
     stroke: white;
}
.btn-primary:disabled .about-btn-icon svg .b {
     stroke: white;
}
.btn-primary:disabled .about-btn-icon svg .c {
     stroke: white;
}
.btn-primary:disabled .about-btn-text {
     background-color: #d2d6da;
}

/* btn secondary designs & effects */

.btn-secondary {
     padding: 1.6rem 2.4rem;
     border: 1px solid var(--grayish-dark-blue);
     color:var(--grayish-dark-blue);
}
.btn-secondary:hover {
     color:var(--very-light-grey);
     background-color: var(--grayish-dark-blue);
	transition: all 0.3s;
}

/* btn secondary disabled */

.btn-secondary:disabled {
     color: #d2d6da;
     border: 1px solid #d2d6da;
}

/* header */

/* navbar */

.site-header {
     padding-top: 3.2rem;
     background-color: var(--very-light-grey);
}
.site-header .container {
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.logo {
     background-image: url(../img/logo.svg);
     width: 6rem;
     height: 3.2rem;
}



/* burger menu */

.main-nav__toggler {
     display: grid;
     gap: .6rem;
     padding: 0;
     border: 0;
     background-color: transparent;
     height: 18px;
}
.main-nav__bar {
     width: 2.4rem;
     height: 0.1rem;
     background-color: var(--grayish-dark-blue);
     transition: .3s;
}
.main-nav__bar:first-child {
     transform-origin: left top;
}
.main-nav__bar:last-child {
     transform-origin: left bottom;
}
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:first-child {
     transform: rotate(45deg);
}
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:not(:first-child):not(:last-child) {
     opacity: 0;
}
.main-nav__toggler[aria-expanded="true"] .main-nav__bar:last-child {
     transform: rotate(-45deg);
}
.main-nav__list {
     position: absolute;
     top: calc(100% + 3.2rem);
     right: 3.2rem;
     display: block;
     width: 22.3rem;
     height: 18.6rem;
     background-color: var(--grayish-dark-blue);
     transition: .3s;
     display: none;
     z-index: 999;
}
.main-nav__toggler[aria-expanded="true"] + .main-nav__list {
     display: block;
}
.main-nav__link {
     display: block;
     font-size: 1.2rem;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #FFFF;
     transition: .3s;
     text-align: center;
}
.main-nav__link:hover,
.main-nav__link:focus
{
     color:var(--slightly-desaturated-cyan);
}
.main-nav__item {
     line-height: 4;
}
.main-nav__item:first-child {
     margin-top: 2.2rem;
}

/* header responsive */

/* tablet & mobile */

@media screen and (min-width: 48em) {
     .site-header{
          padding-top: 6.4rem;
     }
     .main-nav__toggler {
          display: none;
     }
     .main-nav__list {
          position: static;
          display: flex;
          transform: none;
          height: 100%;
          width: 100%;
          background-color: var(--very-light-grey);
     }
     .main-nav__toggler[aria-expanded="true"] + .main-nav__list {
          display: flex;
     }
     .main-nav__link{
          color: var(--grayish-dark-blue);
     }
     .active {
          color:var(--slightly-desaturated-cyan);
     }
     .main-nav__item:first-child {
          margin-top: 0;
     }
     .main-nav__item:nth-child(2) {
          margin-right: 4.2rem;
          margin-left: 4.2rem;
     }
}

/* desktop */

@media screen and (min-width: 75em) {
     .site-header{
          padding-top: 6.4rem;
     }
}

/* footer */

/* mobile */

.main-footer{
     padding-top: 5.6rem;
     padding-bottom: 5.6rem;
     background-color: var(--grayish-dark-blue);
}
.main-footer .container {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.main-footer .logo {
     background-image: url(../img/logo-white.svg);
     margin-bottom: 4.2rem;
}
.menu {
     text-align: center;
     height: 10.6rem;
     margin-bottom: 3.8rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.menu-link {
     color: #FFFF;
     font-size: 1.2rem;
     letter-spacing: 2px;
     text-transform: uppercase;
}
.menu-link:hover {
     color: #FFFF;
     color:var(--slightly-desaturated-cyan);
     transition: .3s;
}
.active {
     color:var(--slightly-desaturated-cyan);
}
.footer-nav {
     margin-bottom: 3.8rem;
}
.social-list {
     display: flex;
     justify-content: center;
     align-items: center;
}
.social-item a {
     display: block;
     background-repeat: no-repeat;
     background-position: center;
     transition: .3s;
}
.social-item a:hover svg path {
     fill: var(--slightly-desaturated-cyan);
     transition: .3s;
}
.social-item:not(:last-child) {
     margin-right: 1.6rem;
}

/* tablet & mobile */

@media screen and (min-width: 48em) {

     .main-footer {
          position: relative;
          padding-top: 2.4rem;
          padding-bottom: 2.4rem;
          background-color: var(--grayish-dark-blue);
     }
     .main-footer .container{
          display: grid;
          grid-template-columns: 6rem 1fr 10.4rem ;
     }
     .menu {
          height: auto;
          display: flex;
          flex-direction: row;
     }
     .footer-nav, .main-footer .logo{
          margin-bottom: 0px;
     }
     .main-footer .logo {
          margin-right: 4.9rem;
     }
     .footer-nav {
          width: 30.7rem;
          margin-left: 4.8rem;
     }
}

/* home-contact-section */

/* mobile */

.home-contact-section {
     padding-top: 6.8rem;
     padding-bottom: 8rem;
     text-align: center;
}
.home-contact-title {
     margin-bottom: 2.8rem;
}

/* tablet */

@media screen and (min-width: 48em) {
     .home-contact-section {
          display: grid;
          grid-template-columns: 35rem 1fr 16.2rem;
          gap: 3.2rem;
          align-items: center;
          padding-top: 10rem;
          padding-bottom: 8rem;
     }
     .home-contact-section h2{
          margin-bottom: 0;
     }
     .separation-line {
          width: 100%;
          height: 1px;
          background-color:  rgb(51, 50, 61, 0.15);
     }
}

/* desktop */

@media screen and (min-width: 90em) {
     .home-contact-section {
          padding-top: 11.9rem;
          padding-bottom: 13rem;
     }
}

/*** HOME ***/

/* mobile */

/* hero */

.hero{
     margin-top: 4rem;
}
.hero-image-desktop,
.hero-image-tablet {
     display: none;
}
.hero-image-mobile {
     width: 100%;
}
.hero-title {
     font-size: 4rem;
     font-weight: var(--bold);
     letter-spacing: -0.36px;
     margin-top: 2.8rem;
}
.btn-primary {
     margin-top: 2rem;
}

/* about */

.about-image-desktop,
.about-image-tablet {
     display: none;
}
.about-image-mobile {
     margin-top: 9.6rem;
}
.about-text-content {
     margin-top: 3.2rem;
     padding-top: 3.7rem;
     padding-bottom: 5.2rem;
     border-top: 1px solid rgb(51, 50, 61, 0.15);
     border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}
.about-title {
     margin-bottom: 2.2rem;
}
.about-text {
     margin-bottom: 1.8rem;
}

/* Tablet */

@media screen and (min-width: 48em) {

     .hero{
          margin-top: 4.7rem;
          position: relative;
     }
     .hero-image-mobile {
          display: none;
     }
     .hero-image-tablet {
          display: block;
     }
     .hero-text-content {
          position: absolute;
          bottom: 0;
          width: 51.4rem;
          padding-top: 6rem;
          background: var(--very-light-grey);
     }
     .hero-title {
          max-width: 40rem;
          margin-top: 0;
          margin-bottom: 3.6rem;
     }

     /* about */

     .about-me {
          display: grid;
          grid-template-columns: 28.1rem 1fr;
          gap: 6.9rem;
          margin-top: 9.6rem;
     }
     .about-image-mobile {
          display: none;
     }
     .about-image-tablet {
          display: block;
     }
     .about-text-content {
          margin-top: 0rem;
          padding-top: 5.5rem;
     }
}

/* Desktop */

@media screen and (min-width: 90em) {

     /* hero */
     .hero{
          margin-top: 5.4rem;
     }
     .hero-image-tablet {
          display: none;
     }
     .hero-image-desktop {
          display: block;
          height: 60rem;
     }
     .hero-text-content {
          width: 44.5rem;
          height: 35.7rem;
          padding-top: 5.8rem;
          padding-right: 3.8rem;
     }
     .hero-title {
          font-size: 5rem;
          letter-spacing: -0.45px;
          width: 39rem;
          margin-bottom: 3.8rem;
          line-height: 50px;
     }

     /* about */

     .about-me  {
          display: grid;
          grid-template-columns: 54rem 35rem;
          gap: 12.5rem;
          margin-top: 15rem;
     }
     .about-image-tablet {
          display: none;
     }
     .about-image-desktop {
          display: block;
     }
}


/*** PORTFOLIO ***/

/* mobile */

main {
     margin-top: 4rem;
}
.portfolio-image-desktop,
.portfolio-image-tablet {
     display: none;
}
.portfolio-list {
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     gap: 7.2rem;
}
.card-profile-desc {
     padding-top: 2.9rem;
     padding-bottom: 2.5em;
     margin-top: 3.2rem;
     border-top: 1px solid rgb(51, 50, 61, 0.15);
     border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}
.card-title,
.card-text {
     margin-bottom: 2.7rem;
} 
.card-text {
     font-size: 15px;
     line-height: 30px;
}
.btn-secondary-portfolio {
     width: 17.5rem;
     text-align: center;
}

/* tablet */

@media screen and (min-width: 48em) {

     main {
          margin-top: 10.1rem;
     }
     .portfolio-image-mobile {
          display: none;
     }
     .portfolio-image-tablet {
          display: initial;
     }
     .portfolio-list {
          gap: 8rem;
     }
     .portfolio-card {
          display: grid;
          align-items: center;
          grid-template-columns: 33.9rem 1fr;;
          gap: 6.9rem;
     }
     .portfolio-card:nth-child(even) {
          direction: rtl;
     }
     .card-profile-desc {
          margin-top: 0rem;
          height: 100%;
          padding-top: 3.7rem;
          padding-bottom: 5.2rem;
     }
     .card-title,
     .card-text {
     margin-bottom: 3.2rem;
     } 

}

/* desktop */

@media screen and (min-width: 90em) {
     main {
          margin-top: 9.4rem;
     }
     .portfolio-image-mobile,
     .portfolio-image-tablet {
          display: none;
     }
     .portfolio-image-desktop {
          display: block;
     }
     .portfolio-card {
          gap: 12.5rem;
          align-items: center;
          grid-template-columns: 54rem 1fr;
     }
     .card-profile-desc {
          padding-top: 10.8rem;
          padding-bottom: 10.4rem;
          max-width: 35rem;
          height: 100%;
     }
     .card-text {
          font-size: 1.6rem;
          line-height: 30px;
     }
}

/*** PROJECTS ***/

/* Mobile */

/* images layout */

.manage-hero-image-tablet,
.manage-hero-image-desktop,
.manage-preview-image-tablet,
.manage-preview-image-desktop{
     display: none;
}
.bookmark-hero-image-tablet,
.bookmark-hero-image-desktop,
.bookmark-preview-image-tablet,
.bookmark-preview-image-desktop{
     display: none;
}
.insure-hero-image-tablet,
.insure-hero-image-desktop,
.insure-preview-image-tablet,
.insure-preview-image-desktop{
     display: none;
}
.fylo-hero-image-tablet,
.fylo-hero-image-desktop,
.fylo-preview-image-tablet,
.fylo-preview-image-desktop{
     display: none;
}
.project-hero {
     margin-top: 4rem;
}
.project {
     margin-top: 4rem;
}
.project-desc {
     padding-top: 2.9rem;
     padding-bottom: 2.5rem;
     border-top: 1px solid rgb(51, 50, 61, 0.15);
     border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}
.project-title {
     margin-bottom: 2.7rem;
}
.project-note {
     margin-bottom: 2.5rem;
}
.project-topic,
.project-skills {
     font-size: 1.3rem;
     color: var(--slightly-desaturated-cyan);
     font-weight: var(--bold);
}
.btn-secondary-project {
     margin-top: 1.6rem;
     width: 17.8rem;
     text-align: center;
}
.project-background {
     margin-top: 4.9rem;
}
.project-background-title {
     margin-top: 4.9rem;
}
.project-background-note {
     margin-top: 3.4rem;
     margin-bottom: 3.4rem;
}
.project-background-link {
     color: var(--darkblue-2);
     text-decoration: underline;
     text-underline-offset: 0.1rem;
}
.image-project-preview-one{
margin-top: 3.9rem;
}
.image-project-preview-two {
margin-top: 3.2rem;
}
.project-nav {
margin-top: 6.4rem;
padding: 2.5rem 3.2rem;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
border-top: 1px solid rgb(51, 50, 61, 0.15);
border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}
.project-nav::after {
     content: "";
     width: 1px;
     height: 100%;
     background:  rgb(51, 50, 61, 0.15);
     position: absolute;
     top: 0;
     left: 50%;
}
.arrow {
     margin-bottom: 2.2rem;
}
.next-project-link,
.previous-project-link {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}
.next-project {
     text-align: right;
}
.next-project-link:hover .arrow-project-title,
.next-project-link:hover .arrow-project-text,
.previous-project-link:hover .arrow-project-title,
.previous-project-link:hover .arrow-project-text {
     color: var(--slightly-desaturated-cyan);
     transition: 0.3s;
}
.next-project-link:hover svg path,
.previous-project-link:hover svg path {
     stroke: var(--slightly-desaturated-cyan);
     transition: 0.3s;
}
.next-project-link {
     text-align: right;
     align-items: flex-end;
}

/* Tablet */
@media screen and (min-width: 48em) {

     /* images layout */

     /* manage images */
     .manage-hero-image-mobile,
     .manage-hero-image-desktop,
     .manage-preview-image-mobile,
     .manage-preview-image-desktop,
      /* bookmark images */
     .bookmark-hero-image-mobile,
     .bookmark-hero-image-desktop,
     .bookmark-preview-image-mobile,
     .bookmark-preview-image-desktop,
      /* insure images */
     .insure-hero-image-mobile,
     .insure-hero-image-desktop,
     .insure-preview-image-mobile,
     .insure-preview-image-desktop,
      /* fylo images */
     .fylo-hero-image-mobile,
     .fylo-hero-image-desktop,
     .fylo-preview-image-mobile,
     .fylo-preview-image-desktop{
          display: none;
     }
     .manage-hero-image-tablet,
     .manage-preview-image-tablet,
     .bookmark-hero-image-tablet,
     .bookmark-preview-image-tablet,
     .insure-hero-image-tablet,
     .insure-preview-image-tablet,
     .fylo-hero-image-tablet,
     .fylo-preview-image-tablet{
          display: block;
     }
     .project-hero{
          margin-top: 9.4rem;
     }
     .project-desc {
          display: grid;        
          grid-template-columns: repeat(2, 1fr);
     }
     .project-note {
          margin-top: 0;
          margin-bottom: 0;
          grid-area: 1 / 2 / 4 / 3;
     }
     .project-title {
          margin-bottom: 1rem;
          line-height: 1;
     }
     .btn-secondary-project {
          margin-top: 0.8rem;
          justify-self: start;
     }
     .project-background {
          margin-top: 4.1rem;
     }
     .project-nav{
          margin-top: 8rem;
     }
}

     /* Desktop */

@media screen and (min-width: 70em) {

     /* images layout */

     /* manage images */
     .manage-hero-image-tablet,
     .manage-preview-image-tablet,
      /* bookmark images */
     .bookmark-hero-image-tablet,
     .bookmark-preview-image-tablet,
      /* insure images */
     .insure-hero-image-tablet,
     .insure-preview-image-tablet,
      /* fylo images */
     .fylo-hero-image-tablet, 
     .fylo-preview-image-tablet
     {
          display: none;
     }
     .manage-hero-image-desktop,
     .manage-preview-image-desktop,
     .bookmark-hero-image-desktop,
     .bookmark-preview-image-desktop,
     .insure-hero-image-desktop,
     .insure-preview-image-desktop,
     .fylo-hero-image-desktop,
     .fylo-preview-image-desktop{
          display: block;
     }
     .project {
          margin-top: 11.5rem;
          display: flex;
          gap: 12.5rem;
          align-items: flex-start;
     }
     .project-background{
          max-width: 63.5rem;
          margin-top: 0;
     }
     .project-desc{
          display: flex;
          flex-direction: column;
     }
     .project-background-title {
          margin-top: 0;
     }
     .project-desc {
          padding-top: 5.3rem;
          padding-bottom: 4.9rem;
     }
     .project-note{
          max-width: 35rem;
          margin-bottom: 2.2rem;
     }
     .project-skills {
          margin-top: 1.6rem;
     }
     .project-title {
          margin-bottom: 3.2rem;
     }
     .btn-secondary-project {
          margin-top: 2.2rem;
     }
     .project-nav {
          margin-top: 6.4rem;
     }
}

/*** CONTACT ***/

/* mobile */

.contact-info {
     margin-top: 4rem;
     padding-top: 2.9rem;
     padding-bottom: 3.2rem;
     border-top: 1px solid rgb(51, 50, 61, 0.15);
     border-bottom: 1px solid rgb(51, 50, 61, 0.15);
}
.contact-info-title {
     margin-bottom: 1.9rem;
}
.contact-info-paragraph {
     margin-bottom: 1.7rem;
}
.social-list-contact {
     justify-content: flex-start;
}
.social-item-contact a path  {
     fill: var(--grayish-dark-blue);
}
.contact-form-container {
     margin-top: 3.6rem;
     margin-bottom: 8rem;
}
.contact-form-title {
     margin-bottom: 2rem;
}
.contact-form-container label {
     display: block;
     font-family: 'Public Sans', sans-serif;
     font-size: 1.3rem;
     color: var(--grayish-dark-blue);
     font-weight: var(--bold);
     opacity: 0.8;
     margin-bottom: 1.5rem;
     margin-top: 3.2rem;
     font-size: 1.3rem;
}
.contact-form-container input {
     width: 100%;
     height: 4.8rem;
     padding-left: 1.6rem;
     background-color: var(--light-grey);
     border: none;
     font-size: 1.3rem;
}
.contact-form-container textarea {
     width: 100%;
     height: 9.6rem;
     padding: 1.7rem 1.6rem;
     background-color: var(--light-grey);
     border: none;
     font-size: 1.3rem;
     resize: none;
}
.btn-primary-contact {
     border: none;
     justify-content: center;
}
.btn-primary-contact:hover {
     background: var(--slightly-desaturated-cyan);
     transition: 0.3s;
}
input::-webkit-input-placeholder {
     color: var(--grayish-dark-blue); 
     opacity: 0.4; 
}
textarea::-webkit-input-placeholder {
     color: var(--grayish-dark-blue); 
     opacity: 0.4; 
}

/* tablet */

@media screen and (min-width: 48em) {
     .contact-form-container {
          margin-bottom: 9.6rem;
     }
     .contact-info{
          padding-top: 3.6rem;
     }
}

/* desktop */

@media screen and (min-width: 70em) {

     .contact-info {
          padding-top: 5.2rem;
          padding-bottom: 4.8rem;
          display: grid;
          grid-template-columns: 35rem 1fr;
          gap: 1fr;
     }
     .contact-info-desc {
          padding-left: 12.5rem;
     }
     .contact-form-container {
          margin-bottom: 10.9rem;
          padding-top: 5.2rem;
          display: grid;
          grid-template-columns: 35rem 1fr;
          gap: 1fr;
     }
     form {
          padding-left: 12.5rem;
     }
     .name-input label{
          margin-top: 0rem;     
     }  
}
